*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  background-color: white;
  color: #253d52;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  padding: 0 20px;
}

.app__title h1 {
  color: #03b7c9;
  font-size: 32px;
  padding-top: 20px;
  font-family: 'Slackey', cursive;
}

.description {
  margin: 40px 0;
}

.generate {
  display: block;
}

.btn {
  padding: 11px 55px;
  border: none;
  background-color: #03b7c9;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  margin: 20px 0;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #12d1bf;
}

.form__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 5px;
}

.form__element label + * {
  padding: 7px;
  border: 1px solid #03b7c9;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  padding: 10px 2px;
}

.yourId {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
}

.id__field {
  padding: 10px;
  border: transparent;
  background-color: transparent;
  font-size: 20px;
  resize: none;
}

.inputIdValue:focus {
  outline: none;
}

.copy_id {
  padding: 11px 30px;
  margin: 0;
}

.copy_id:disabled {
  background-color: #afafaf;
  cursor: not-allowed;
}
